extends layout



block content

 div
  p 
   | #{hour_left}
   time #{hour_center} 
   | #{hour_right} 
  p
   | #{minute_left}
   time #{minute_center}
   | #{minute_right}
  p
   | #{minute2_left}
   time #{minute2_center}
   | #{minute2_right}


